:root {
  font-synthesis: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  --background-color: #f4f4f4;
  --borde: 0.2vh solid rgb(34, 34, 34, 0.4);
  --borde-opacity: 40%;

  --font-color: #222222;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --color-naranja: #f29e38;
  --color-morado: #7e56a6;
  --color-gris: #d9d9d9;
}
